<div class="container">
<div *ngIf="tempdata;else elsenodata"> 
    <div>
      
        <label>Search Data:&nbsp;</label>
       
         <input type="text"  [(ngModel)]="searchstring" placeholder="Type here..."/>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn-success" (click)="exportAsXLSX()"  title="Export data as Microsoft Excel file">
          Export data
        </button>
       
      </div>
<table class="table table-hover">
    <thead>
      <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Mail Address</th>
          <th>Phone</th>
          <th>Country</th>
          <th>State</th>
          <th>City</th>
          <th>Birthdate</th>
          <th>Update</th>
          <th>Delete</th>
      </tr>
    </thead>
    <tbody>
 
      <tr *ngFor="let data of tempdata | filter: searchstring | orderBy: orderstring
      | paginate: { itemsPerPage:10, currentPage: p }  ">
          <td>{{data.fname }}</td>
          <td>{{data.lname}}</td>
          <td>{{data.mail}}</td>
          <td>{{data.phone}}</td>
          <td>{{data.country}}</td>
          <td>{{data.state}}</td>
          <td>{{data.city}}</td>
          <td>{{data.birthdate}}</td>
          <td><button class="btn btn-primary" name = "updatebutton" (click)="updatecall(data.id)">Update</button></td>
          <td><button  class="btn btn-danger" data-toggle="modal" (click)="getnames(data.fname,data.lname,data.id)" data-target="#myModal">Delete</button></td>

          
</tr>
 
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <br/>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete the data of: {{tfname + " " + tlname}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" 
          (click)="deletecall(tid)">Delete</button>
        </div>
      </div>
      
    </div>
  </div>
      


     <tr> 
       <td colspan="10" style="text-align:center">
       <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </td>
      </tr>
    </tbody>
  </table>

  <ng-template #elsenodata >
    No data found!
  </ng-template>
</div>