<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <h1 >Contacts</h1>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active"  title="Contacts" routerLink="contacts"> <img class="bottom" src="../../assets/contacts.png" alt="Contacts" width="35" height="35"></a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="nav-item nav-link" title="Add New Contact" routerLink="addnewcontact"><img class="bottom" src="../../assets/addbutton.png" alt="Add new Contact" width="35" height="35"></a>
          </div>
           </div>  
          </nav>

<router-outlet>
</router-outlet>